node_modules
dist
out
.DS_Store
*.log*
stable-diffusion-webui
stable-diffusion-webui/*
models/*
models
_internal
_internal/*
package-lock.json
py_sencedetect
demo.mp4
demo*.mp4
video_frames_cahce
video_parts_cahce
video-subtitle-remover
__pycache__
